{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home | PulgaB0T</title>
  </head>
  <body>
    <div class="big-container">
      <main>
        <header>
          <h2 class="header-title">PulgaB0T</h2>
          <p class="header-description">Type <span>"help"</span> to understand better this chatbot.</p>
          <hr>
        </header>
        <div class="chat-container">
          <div class="chat-container__messages">
            {% if user == 'help' %}
              <p>PulgaB0T: </p>
              <p>- PulgaB0T is a chatbot that uses nltk in the background <br>- Type for example "Tell me a joke" <br>- Ask for advices "Give me an advice"</p>
              <hr>
            {% else %}
              <p><span class="chatbot">PulgaB0T:</span><span class="chatbot-response">{{ pulga_response }}</span></p>
            {% endif %}
          </div>
  
      
          {% comment %} {% if user %}
            {% for message in all_messages %}
              <p>You: {{ message.message }} <small>{{ message.sent_at|time:"g:i" }}</small></p>
            {% endfor %}
          {% endif %} {% endcomment %}
          <form method='post'>
            {% csrf_token %}
            <label for="user_field_input" class="user-input-container">
              <input type="text" placeholder="Send a message" name="user_field_input" class="form-input">
              <button type="submit" class="form-submit">></button>
            </label>
          </form>
        </div>
      </main>
      <footer>
        <p class="footer-description">A project developed by <span class="footer-author"><a href="https://github.com/ChristopherChantres" target="_blanc">Christopher Chantres</a></span></p>
      </footer>
    </div>
  </body>
</html>